.subreddit{
    background-color: rgb(233, 233, 231);
    border:1px solid grey;
    cursor:pointer;
   
}
.subreddit:hover{
    background-color:red;
    color:white;
}
.subreddit.active{
    background-color:red;
    color:white;
}