.comments{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.nothingToSee{
    text-align: center;
    font-size: 3em;
    font-weight: 600;
}
.backToHome{
    margin:1em;
    position: relative;
    border:none;
    outline:none;
    height:50px;
    width:100px;
    background-color: red;
    color:white;
    border-radius: 7px;
    cursor:pointer;

}
.backToHome::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgb(107, 6, 6);
    z-index:-1;
    border-radius: 7px;
    transform: translateY(5px);
}
button:active{
    transform: translateY(5px);
}
button:active:before{
    transform: translateY(0);
}