.postWrapper{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    width:60%;
    min-width:600px;
}
.subredditName{
    color:white;
    font-size:2em;
}
.homePage{
    min-height:100vh;
}
