
nav{
    background-color: red;
    text-align: center;
  }
  h2{
    padding:0.5em;
  
    color:white;
  }
  span{
    color:grey;
  }
  .search {
    margin:1em auto;
    width: 50%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid red;
    
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: red;
  }
  
  .searchTerm:focus{
    color: red;
  }

  