.post{
    background-color:rgb(230, 234, 238);
    margin :1em;

}
ul{
    display:flex;
    justify-content:space-around;
    list-style-type: none;
    margin: 1em 0;
}
.upVote{
    width:1em;
}
.downVote{
    width: 1em;
}
.votes{
    display:flex;
    flex-direction: column;
    margin:1em;
    font-weight: 600 ;
}
.mainPost{
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    color:black;
}
h3{
    font-size: 2em;
    margin:0 1em 0 1em;
}
img, video, .selfText{
    
    width:90% !important;
    margin:1em;
}
.readMore{
    font-style: italic;
    font-weight: 700;
    color:red;
}
.mainPost:hover{
    font-weight: 900;
}