.post{
    background-color:rgb(230, 234, 238);
    margin :1em;
    
}
.postFooter{
    display:flex;
    align-items: center;
    justify-content:space-around;
    list-style-type: none;
    margin:1em;
}
.voteWrap{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upVote{
    width: 1.5em;
    cursor: pointer;
}
.downVote{
    width:1.5em;
    cursor: pointer;
}

.votes{
    display:flex;
    flex-direction: column;
    align-items:center;
    
    margin:1em;    
    font-weight: 600;
    
}
.mainPost{
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    color:black;
}
h3{
    font-size: 2em;
    margin:0 1em 0 1em;
}
.mediaPiece, .selfText, .readMore{
    
    width:90% !important;
    margin: 1em ;
}
.postContent{
    text-decoration: none;
    color:black;
}
.readMore{
    font-style: italic;
    font-weight: 700;
    color:red;
}
.mainPost:hover{
    font-weight: 900;
}
.commentsIcon{
    padding-top: 0.3em;
    height:1.3em;
}