*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
main{
  display:inline-flex;
  justify-content: space-around;
  
}
.App{
  background-color: black;
}
@media only screen and (max-width: 800px) {
  
  aside{
    display:none;
  }
}